html {
  font-size: 10px;
}

body {
  margin: 0;
  background-color: #6f6863;
  color: #f8f8f8;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

header {
  margin-bottom: 4.0rem;
}

header h1 {
  margin-bottom: 0;
}

header h3 {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  color: #c0c0c0;
  font-style: italic;
  font-weight: 200;
}

main {
  width: 100rem;
  min-height: 100vh;
  padding: 0 2.0rem;
  border: 1px dotted #f00;
  margin: 0 auto;
  font-size: 1.6rem;
}

section {
  border: 1px dotted #f80;
  margin: 1.6rem auto;
  text-align: center;
  /*
  display: grid;
  grid-template-columns: auto auto; */
}

section h2 {
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 400;
}

section h4 {
  margin-top: 0;
  margin-bottom: 1.0rem;
  color: #282828;
}

/* .original, .copy {
  float: left;
} */

/*
.original {
  margin: 1.5rem;
}

.canvas {
  margin: 1.5rem;
}
*/

.painting {
  display: grid;
  width: 100%;
  height: 100%;
}

#picture0 .original {
  width: 25rem;
  height: 25rem;
}

#picture0 .canvas {
  width: 50rem;
  height: 50rem;
}

#picture0 .painting {
  grid-template-columns: 25% 66% auto;
  grid-template-rows: 29% 2.8rem 38% 1.8rem auto 1.8rem auto;
  grid-column-gap: 1.7rem;
}

#picture0 #red0 {
  grid-column: 2 / 4;
  grid-row: 1 / 4;
}

#picture0 #blue0 {
  grid-row: 5 / 8;
}

#picture0 #white0 {
  grid-row: 5 / 8;
}

#picture0 .black {
  background-color: #111;
}

#picture0 .white {
  background-color: #ece4e2;
}

#picture0 .red {
  background-color: #c02804;
}

#picture0 .blue {
  background-color: #343c9c;
}

#picture0 .yellow {
  background-color: #dcd044;
}
